<div class="modal fade" id="product_amount_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Choose amount of product</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <input id="product_amount" type="number" value="1" class="form-control">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="add_to_cart" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
