<div class="modal fade" id="cart_checkout_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Заполните форму заказа</h4>
      </div>
      <div class="modal-body">
          <form method="post" action="{% url 'payments:order_list' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12">
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ order_form.name.errors }}
                            <label for="id_name">Name:</label>
                            {{ order_form.name }}
                        </div>
                        <div class="col-md-6">
                            {{ order_form.surname.errors }}
                            <label for="id_surname">Surname:</label>
                            {{ order_form.surname }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ order_form.phone.errors }}
                            <label for="id_phone">Phone:</label>
                            {{ order_form.phone }}
                        </div>
                       <div class="col-md-6">
                            {{ order_form.email.errors }}
                            <label for="id_email">Email:</label>
                            {{ order_form.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ order_form.address.errors }}
                            <label for="id_address">Address:</label>
                            {{ order_form.address }}
                        </div>
                    </div>
                </div>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" id="checkout_btn" class="btn btn-primary">Submit</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
