{% load thumbnail %}
{% for product in products %}
<div class="single__list__content clearfix">
    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
        <div class="list__thumb">
            <a href="{{ product.get_absolute_url }}">
                {% thumbnail product.image "770x270" as im %}
                    <img src="{{ im.url }}" alt="product images">
                {% endthumbnail %}
            </a>
        </div>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12">
        <div class="list__details__inner">
            <h2><a href="{{ product.get_absolute_url }}">{{ product.name | title}}</a></h2>
            <p>{{ product.description | safe }}</p>
            <span class="product__price">${{ product.price }}</span>
            <div class="shop__btn">
                <a class="htc__btn" href="{% url 'products:add_to_cart' product.pk %}"><span class="ti-shopping-cart"></span>Add to Cart</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}