{% load thumbnail %}
 <div class="otziv_user">  
    <div class="foto_user">
        {% thumbnail comment.user.image "80x267" as im %}
             <img src="{{ im.url }}" class="img_product_detail">
        {% endthumbnail %}
    </div>
    <div class="text_otziv">
             <h3 class="name_user">{{ comment.user.username }}</h3>
             <p class="otziv_user_text">{{ comment.text }}</p>
             <div class="riska_otziv"></div>
             <h6 class="data_otziv">{{ comment.created.year }}/
                    {{ comment.created.month }}/
                    {{ comment.created.day }}
            </h6>
    </div>
</div>



