{% load thumbnail %}
{% load static %}
<div class="row">
{% for product in products %}
<div class="col-sm-6 col-md-3 col-lg-3 product_card">                                    
 <div class="row">                          
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 cod">                                                           
        <p>Код товара:{{ product.code }}</p>
        <a href="{{ product.get_absolute_url }}">                     
            Подробнее
        </a>
    </div>   
</div>
<div class="row">                          
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 in_stok">
        {% if  product.in_stock %}<p style="color : #038a27" class="in_stok_p">Есть в наличии</p> {% else %} <p 
        product_id_noStok="{{ product.id }}" class="in_stok_p" style="color : #ba0f20">Нет на складе</p> {% endif %}                                                          
   </div>   
</div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">  
         <a href="{{ product.get_absolute_url }}">
            {% thumbnail product.image "1000x800" as im %}
            <img class="img_item" src="{{ im.url }}">
             {% endthumbnail %}
         </a>
     </div>
    </div>
    <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-10 text">  
            <a href="{{ product.get_absolute_url }}">
                <h4 class="product_name" >{{ product.name|title }}</h4>
            </a>
       </div>
       <div class="col-1 col-sm-1 col-md-1 col-lg-1"></div>   
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 zakaz_count">
           <div class="orders_zakaz" data-orderProductID="{{ product.id }}">
            <p class="price">
               <span>{{ product.price }} грн.</span>                                                                                
            </p>                                             
        <div class="count_product">       
            <div class="minus_product" product_id="{{ product.id }}">
                <img src="{% static 'img/minus.png' %}" alt="">
            </div>
                <p class="cart-product-amount" product_count="1" product_id="{{ product.id }}">1</p>
            <div class="plus_product" product_id="{{ product.id }}">
                <img src="{% static 'img/plus.png' %}" alt="">
            </div>
        </div> 
        </div>
    </div>        
    </div>
    <div class="row">
            
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 order_cont_button">  
                {% if  product.in_stock %}
                <input type="submit" value="купить"
                class="button_orders"
                product_id="{{ product.id }}">
                {% else %}
                <input type="submit" value="купить"
                class="button_orders hidden_button"
                product_id="{{ product.id }}">
                {% endif %}
       </div>
          
    </div>
    <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 bottom"></div>
    </div>
</div>
{% endfor %}
</div>