{% extends 'base.html' %}


{% block content %}
<div class="border_order">
    <h3 class="checkout_h">Оформление заказа</h3>
</div>
<form action="{% url 'payments:checkout' %}" method="post" class="checkout_form">
    {% csrf_token %}
    {% for field in checkout_form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <input type="submit" value="КУПИТЬ" class="submit_checkout">
</form>
{% endblock content %}
