{% extends 'base.html' %}

{% block content %}
    <h4>order list</h4>
    {% for order in order_list %}
        <div class="row">
            <div class="col-md-2">
                id - {{ order.pk }}                
            </div>
            <div class="col-md-2">
                total - {{ order.total }}
            </div>
            <div class="col-md-2">

                <a href="{% if order.payment_type == 'stripe' %}
                            {% url 'payments:pay_stripe' order.pk %}
                          {% elif order.payment_type == 'paypal' %}
                            {% url 'payments:pay_paypal' order.pk %}
                          {%  endif %}
                           ">
                    <button class="btn btn-primary">
                        Complete transaction
                    </button>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
