{% extends 'base.html' %}

{% block content %}
    <h4>
        pay stripe
    </h4>
    {% for order_item in order_items %}
        <div class="row">
            <div class="col-md-3">
                {{ order_item.product.name }}
            </div>
            <div class="col-md-3">
                {{ order_item.price }}
            </div>
            <div class="col-md-3">
                {{ order_item.amount}}
            </div>
            <div class="col-md-3">
                {{ order_item.total }}
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-2">
            Total - {{ order.total }}
        </div>
    </div>
    <form action="{% url 'payments:pay_stripe' order.pk %}" method="POST">
      {% csrf_token %}
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ stripe_public_key }}"
        data-amount="{{ total_cent }}"
        data-name="Stripe.com"
        data-description="Example charge"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true">
      </script>
    </form>
{% endblock content %}