{% extends 'base.html' %}

{% block content %}
    <h4>
        pay paypal
    </h4>
<div id="paypal-button-container"></div>
{% endblock content %}

{% block javascript %}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
paypal.Button.render({

        env: 'sandbox', // sandbox | production

        // Show the buyer a 'Pay Now' button in the checkout flow
        commit: true,

        // payment() is called when the button is clicked
        payment: function() {

            // Set up a url on your server to create the payment
            var CREATE_URL = '{% url 'payments:pay_paypal' order.pk %}';

            // Make a call to your server to set up the payment
            return paypal.request.post(CREATE_URL)
                .then(function(res) {

                    console.log(res);
                    return res.paymentID;
                });
        },

        // onAuthorize() is called when the buyer approves the payment
        onAuthorize: function(data, actions) {

            // Set up a url on your server to execute the payment
            var EXECUTE_URL = '{% url 'payments:paypal_execute' %}';

            // Set up the data you need to pass to your server
            var data = {
                paymentID: data.paymentID,
                payerID: data.payerID
            };

            // Make a call to your server to execute the payment
            return paypal.request.post(EXECUTE_URL, data)
                .then(function (res) {
                    console.log(res);
                });
        }

    }, '#paypal-button-container');



function send_ajax_request(request_url, data, success_func) {
        console.log('ajax function');
        $.ajax({
            url: request_url,
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function(ajax_response) {
                success_func(ajax_response);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                   console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

function sendPaymentData(data) {
    var request_url = '{% url 'payments:pay_paypal' order.pk %}';
    send_ajax_request(request_url, data, payPalOK);
}

function payPalOK(data) {
    console.log(data);
    return data.paymentID;
}

</script>

{% endblock javascript %}
