{% extends 'base.html' %}

{% block content %}
    {% for order_item in order_items %}
        <div class="row">
            <div class="col-md-3">
                {{ order_item.product.name }}
            </div>
            <div class="col-md-3">
                {{ order_item.price }}
            </div>
            <div class="col-md-3">
                {{ order_item.amount}}
            </div>
            <div class="col-md-3">
                {{ order_item.total }}
            </div>
        </div>
    {% endfor %}
    <div id="liqpay_checkout"></div>
    <div id="aft_payment_info"></div>
    <script>
    window.LiqPayCheckoutCallback = function() {
        LiqPayCheckout.init({
            data: "{{ data }}",
            signature: "{{ signature }}",
            embedTo: "#liqpay_checkout",
            mode: "embed" // embed || popup,
        }).on("liqpay.callback", function(data){
            console.log(data.status);
            console.log(data);
            $('#aft_payment_info').html("<h3>Ваш заказ уже обрабатываеться. В течении часа с вами свяжеться наш оператор по номеру который вы указали в заявке.</h3><a href='/'>На главную</a>");
            send_ajax_request("/products/clear_cart/", {}, clear_cart_response, "DELETE", "json");
        }).on("liqpay.ready", function(data){
            // ready
        }).on("liqpay.close", function(data){
            // close
        });
    };
    </script>
    <script src="//static.liqpay.ua/libjs/checkout.js" async></script>
{% endblock content %}