{% extends 'base.html' %}
{% load thumbnail %}
{% load i18n %}
{% block content %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_loader.css' %}" />
{% endblock %}
<div class="container cart_cont">
            <div id="cube-loader">
                <div class="caption">
                    <div class="cube-loader">
                        <div class="cube loader-1"></div>
                        <div class="cube loader-2"></div>
                        <div class="cube loader-4"></div>
                        <div class="cube loader-3"></div>
                    </div>
                 </div>
            </div>
      <div class="conteiner_korzina_null cart_mobile_version">
          <h2>Ваша корзина пуста</h2>
          <img src="{% static 'img/telega.png' %}" alt="">
      </div>      
     <div class="row artikul_cart artikul_cart_mobile">
            <div class="col-7 col-sm-7 col-md-7 col-lg-6">
                    Наименование
             </div>
             <div class="col-2 col-sm-2 col-md-2 col-lg-2 text_count">
                    Количество
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-2">
                   <p> Цена за 1 шт.</p>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                <p> Итоговая цена</p>
            </div>
     </div>
     {% for product in cart_list %}

     <div class="row artikul_products" data-productIdRemove="{{ product.pk }}">

  
        <div class="col-12 col-sm-7 col-md-7 col-lg-6">
             <div class="row mobile_flex">
               <div class="col-2 col-sm-2 col-md-1 col-lg-1 mobile_musor">
                  <a href="#"><img product_id="{{ product.pk }}" src="{% static 'img/musor.png' %}" alt="" class="musor_img remove-from-cart">
                  </a>
                </div>
                <div class="col-3 col-sm-2 col-md-2 col-lg-2 mobile_img_products">
                    <div class="title_products">
                       <a href="{{ product.get_absolute_url }}">
                            {% thumbnail product.image "110x60" as im %}
                            <img src="{{ im.url }}">
                             {% endthumbnail %}
                        </a>
                    </div>
                </div> 
                <div class="col-6 col-sm-8 col-md-9 col-lg-9 mobile_description"> 
                   <div class="description_product"> 
                       <h3>
                         <a href="{{ product.get_absolute_url }}">
                            {{ product.name|title }}
                         </a>
                      </h3>
                    <p>
                        {{ product.description|safe|truncatechars:200 }}
                    </p>

                 </div>
              </div> 
              <div class="col-1 col-sm-1 col-md-1 col-lg-2 col_price col_price_mobile">
                <p class="price">{{ product.price }} грн</p>
              </div>
             </div>
            </div>
         
            <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                   <div class="count_product cart_count_product">
                            <div class="minus_product cart_minus_product change-product-amount" product_id="{{ product.id }}">
                                <img src="{% static 'img/minus.png' %}" alt="">
                            </div>
                            <div class="cart_count_product_p">
                            <p
                                    class="cart-product-amount"
                                    product_count="{{ product.quantity }}"
                                    product_id="{{ product.id }}"
                            >
                                {{ product.quantity }}
                            </p>
                            </div>
                            <div class="plus_product cart_plus_product change-product-amount" product_id="{{ product.id }}">
                                <img src="{% static 'img/plus.png' %}" alt="">
                            </div>
                        </div>
                   <!-- <p class="price">{{ product.quantity }}</p>  -->
            </div>
     
            <div class="col-1 col-sm-1 col-md-1 col-lg-2 col_price">
                    <p class="price">{{ product.price }} грн</p>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col_price">
                <p id="total_product_price_{{ product.id }}" class="price">{{ product.total_price}} грн</p>
            </div>
     </div>
     {% endfor %}    
     <div class="row">
        <div class="col-12 total_sum">
                <button id="clear_cart" class="btn btn-primary">Очистить корзину</button>
                <script>
                     count_cart_item=$(".cart-item").length;
                </script>
          <div class="flex_total_sum">  
            <p id="total_cart_price" class="total">
            Всего к оплате :  {{ total }} грн
            <!-- <span class="glyphicon glyphicon-usd"></span> -->
            </p> 
        <a href="{% url 'payments:checkout' %}">
            <button {% if not total %}disabled{% endif %} class="btn btn-primary">
                 Оформить заказ
             </button>
         </a></div>
        </div>   
    </div>
</div>

    
{% endblock %}



{% block js_extras %}
    <script>
        var product;
    function change_product_amount_response(response) {
        console.log(response);
        if(response['status'] =='added') {
            var product_id = response['product_id'];
            $("#total_product_price_" + product_id).text(response['item_total_price'] + " грн");
            $("#total_cart_price").text("Всего к оплате :  " + response['total'] + " грн");
        }
    }
    $(document).ready(function() {
        $('.remove-from-cart').bind('click', function( event ) {
            
            product = $(this).attr('product_id');
            var request_url = "/products/" + product + "/add/to/cart/";

            var cart_request_data = {
                         product: product
                        };
         if($(".artikul_products").length<3){
            $(".footer").css({"position":"absolute","bottom" :"0px"}); 
          };
            //console.log(cart_request_data);
            send_ajax_request(request_url, cart_request_data, add_to_cart_response, "DELETE", "json");
        });
       $('.change-product-amount').bind('click', function( event ) {
            var product_id = $(this).attr('product_id');
            if(document.querySelector(".cont_1").clientHeight<390 ) {$(".footer").css({"position":"absolute","bottom" :"0px"});}
            var product_count = parseInt(
                                    $(".cart-product-amount").
                                    filter("[product_id ="+product_id+"]").
                                    attr("product_count")
                                );
            var request_url = "/products/" + product_id + "/add/to/cart/";

            var cart_request_data = {
                         product: product_id,
                         product_amount: product_count
                        };

            console.log(cart_request_data);
     

            send_ajax_request(request_url, cart_request_data, change_product_amount_response, "POST", "json");
        });
        $('#clear_cart').bind('click', function( event ) {
            if(document.querySelector(".cont_1").clientHeight<390) {$(".footer").css({"position":"absolute","bottom" :"0px"});}
            send_ajax_request("/products/clear_cart/", {}, clear_cart_response, "DELETE", "json");

            $(".footer").css({"position":"absolute","bottom" :"0px"}); 
          
        });
    });
</script>
{% endblock js_extras %}
