<!-- {% extends "base.html" %}
{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ grade|title }}</h3>
  </div>
  <div class="panel-body">
    {% include 'additional_parts/products/products_imagination.html' with products=grade_list %}
  </div>
</div>
{% include 'additional_parts/products/pagination.html' with   page_obj=page_obj %}

{% endblock content %} -->
