{% extends "category_base.html" %}
{% load thumbnail %}
{% load static %}

{% block main_body %}
<div class="col-7 col-sm-8 col-md-9  col-lg-9">
    <div class="row">
            <div class="flex_title">
                    <h4 class="title_product">
                        {{ product.name }}
                    </h4>
                 
                </div>
        <div class="col-12 col-sm-6 col-md-6  col-lg-6">
            <div class="col-md-12">
                <div class="galery">
            {% if  product.in_stock %}<p style="color : #038a27;margin-left: 1%;font-size: 13px">Есть в наличии</p> {% else %} <p 
            product_id_noStok="{{ product.id }}" class="in_stok_detail" style="color : #ba0f20;margin-left: 1%;font-size: 13px">Нет на складе</p> {% endif %}
                    <img src="" alt="" class="active_big">
                    <div class="img_bottom">
                        {% thumbnail product.image "1000x1000" as im %}
                            <img class="img_product_detail active_img" src="{{ im.url }}">
                        {% endthumbnail %}
                        {% for image in product.images.all %}
                            {% thumbnail image.image "1000x1000" as im %}
                                    <img src="{{ im.url }}" class="img_product_detail">
                            {% endthumbnail %}
                        {% endfor %}
                    </div>
                </div>
                <div class="mobile_show_comment">
                <div class="comment_otziv">
                    {% for comment in comments_ %}
                        {% include "additional_parts/products/product_detail_comment.html"  with comment=comment %}
                    {% endfor %}
                    <button class="show_user">Показать все комментарии</button>
                </div>
                <div id="js-product-detail-comment"></div>
                <div class="add_otziv_img">
                    <p>Добавте</p>
                        <img src="{% static 'img/otziv.png' %}" alt="" class="ostav_otziv">
                    <p>отзыв</p>
                </div>
                <p class="error_otsiv"></p>
                <div class="form_add_otziV">
                    <div class="form-group">
                        <input type="text" class="form-control js-comments" id="user_name"
                               placeholder="{{ request.user.username }}" readonly="readonly"
                               value="{{ request.user.username }}" name="user_name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control content " id="user_comment"
                                  name="user_comment" rows="4"
                                  maxlength="500" placeholder="Добавте отзыв">
                        </textarea>
                    </div>
                    <input type="submit" id="add_comment_btn" class="subm_otziv"
                           value="Отправить"
                           name="add_comment">
                </div>
            </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6  col-lg-6 detail_product_block">
            <div class="row statusBar_products">
                <div class="col-12 col-sm-12 col-md-12 col-lg-11 statusBar_products_col">
                    
                    <div class="likes">
                            <p class="span_price"> {{ product.price }} грн. </p>
                    </div>
                    <div class="likes">
                        {% if  product.in_stock %}
                        <input type="submit" value="купить"
                        class="button_orders zapis detail_button_orders" id="add_to_cart"
                        >
                        {% else %}
                        <input type="submit" value="купить"
                        class="button_orders zapis detail_button_orders hidden_button hidden_button_detail" id="add_to_cart"
                        >
                        {% endif %} 
                   </div>
                </div>
            </div>
            <p>{{ product.description | safe  }}</p>
        </div>
    </div>
</div>

{% endblock main_body %}




{% block js_extras %}
<script>
    function comment_request() {
        var text = $('#user_comment').val();
        var product = "{{ product.pk }}";
        var request_url = "{% url 'products:product_detail' category_slug=product.subcategory.category.slug subcategory_slug=product.subcategory.slug product_slug=product.slug %}";

        var data = {
                     text: text,
                     product: product
                    };

        send_ajax_request(request_url, data, front_change_comments_bar);
    }

    function add_to_cart() {
        var product = "{{ product.pk }}";
        var product_amount = $('#product_amount').val();
        var request_url = "{% url 'products:add_to_cart' product_pk=product.pk %}"

        var data = {
                     product: product,
                     product_amount: product_amount
                   };
        send_ajax_request(request_url, data, add_to_cart_response);
    }

    function front_change_comments_bar(ajax_response) {
        console.log(ajax_response);
        if (ajax_response['data']) {
            $('#js-product-detail-comment')[0].innerHTML += ajax_response['data'];
            $('#user_name').val('');
            $('#user_comment').val('');
        }
        if (ajax_response['errors']) {
            var errors = ajax_response['errors'];
            console.log(errors);
            console.log("You must be login");
        }
    }
    $(document).ready(function() {
        $('#add_comment_btn').on('click', comment_request);
        $('#add_to_cart').on('click', add_to_cart);
    });
</script>

{% endblock js_extras %}
