{% extends "category_base.html" %}
{% load static %}

{% block main_body %}
    <div class="col-7 col-sm-8 col-md-9  col-lg-9">
        <div class="panel panel-default">
            <button type="button" class="list-group-item list-group-item-action active">
                <h3 class="panel-title subcategory_product">ТОВАРЫ ПОДКАТЕГОРИИ </h3>
            </button>
            <div class="panel-body">
                {% include 'additional_parts/products/products_imagination.html' with products=products %}
                {% include 'additional_parts/products/pagination.html' with page_obj=products %}
            </div>
        </div>
    </div>
</div>
{% endblock main_body %}
