{% extends "category_base.html" %}
{% block main_body %}
{% load static %}

<!-- блок для вывода информации о товаре, популярные товары -->
    <div class="col-12 col-sm-8 col-md-9  col-lg-9 mobile_new_popular_product">
        <div class="panel panel-default">
            <button type="button" class="list-group-item list-group-item-action active">
                <h3 class="panel-title">ПОПУЛЯРНЫЕ ТОВАРЫ</h3>
            </button>
            <div class="panel-body">
                {% include 'additional_parts/products/products_imagination.html' with products=most_popular_products %}
            </div>
        </div>
        <div class="panel panel-default">
            <button type="button" class="list-group-item list-group-item-action active">
                <h3 class="panel-title">НОВЫЕ ТОВАРЫ</h3>
            </button>
            <div class="panel-body">
                {% include 'additional_parts/products/products_imagination.html' with products=new_arrivals %}
            </div>
        </div>
    </div>
</div>
{% endblock main_body %}
