{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="google-site-verification" content="mvAIz6HDaHwAycvsjDyoqEyihQhA8uq0IqizewJhXyg" />
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval'; 
                                                            script-src * 'unsafe-inline' 'unsafe-eval'; 
                                                            connect-src * 'unsafe-inline'; 
                                                            img-src * data: blob: 
                                                            'unsafe-inline'; 
                                                            frame-src *; 
                                                            style-src * 'unsafe-inline';">
        
        
        <title>{% block title %}IOT{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'jquery/jquery.cookie.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}" />
        
        {% block css %}
        {% endblock %}
        
    </head>
    <body>
        <div class="container-fluid cont">
                <ul class="search_ul">
                        <input type="submit" class="open_more" value="больше предложений"></input>
                </ul>     
            <div>
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            
            {% include "header.html" %}
            <div class="container-fluid cont_1">
                    <iframe name="frame" width=100% height=100% style="position:absolute;z-index:-1;
                    display: none"></iframe>    
                   <div class="popup_contact">
                   <img src="{% static "img/close.png" %}" alt="" class="close">
                   <div class="popup_title">
                   <h3>IOT</h3>
                   <div  class="about_logo"></div></div>
                   <p>Компания IOT относительно молодой, но динамично развивающейся, набирающий количество пользователей проект.
                        Мы не похожи на большинство интернет магазинов, Вы не найдете у нас товары относящийся к бытовой
                        химии, и т. п. Если вы поклонник arduino, любите слаживать пазлы из микроконтроллеров и т. д,  программировать
                        созданные своими руками "гаджеты", тогда IOT, то что Вам нужно. Большой ассортимент, теперь Вам не прийдется копаться
                        в просторах интернета для покупки недостающих деталей, все Вы сможете приобрести у нас, значительно сэкономив при этом время.
                        Если в чем либо сомневаетесь, звоните, пишите в чате и мы вместе подберем, то что Вам нужно. 
                   </p>
                     <h3 class="popup tel">Контактные телефоны</h3>
                    <h5>Консультации и заказ по телефонам</h5>
                    <p>(095) 508 1131;</p>
                    <h5>График работы call-центра:</h5>
                    <p>В будние:    с 8:00 до 21:00 <br>Суббота:   с 9:00 до 20:00 <br>Воскресенье:  c 10:00 до 19:00</p>
                    <h6 class="popup email">levtolstoy123123@gmail.com</h6>
                    <div class="popup_footer">
                        <div class="col-12 spite">
                            <a href="#" class="vk"></a>
                            <a href="#" class="twitter"></a>
                            <a href="#" class="google"></a>
                            <a href="#" class="rss"></a>
                        </div>
                    </div>
            
                </div>     
            {% block content %}
            {% endblock content %}

           

            {% block modal %}{% endblock modal %} 
        </div>
        {% include "chat_base.html" %}
        {% include "footer.html" %} 
        
        {% block javascript %}
            <script src="{% static 'js/project.js' %}"></script>
            <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/jquery.inputmask.bundle.js' %}"></script>
            <script src="{% static 'js/front.js' %}"></script>
        {% endblock javascript %}


        
        {% block js_extras %}
        {% endblock js_extras %}


        <script>
            window.fbAsyncInit = function() {
              FB.init({
                appId            : '2256406111265977',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v3.3'
              });
            };
          </script>
          <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
         
         <!-- Global site tag (gtag.js) - Google Analytics -->
         <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146007730-1"></script>
         <script>
           window.dataLayer = window.dataLayer || [];
           function gtag(){dataLayer.push(arguments);}
           gtag('js', new Date());
           gtag('config', 'UA-146007730-1');
         </script>

       
    </body>
</html>
