{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="row block_category">
     <!-- кнопка вызова категорий в мобильной версии -->
     <button class="click_category_mobile">КАТЕГОРИИ</button>
    <div class="col-sm-4 col-md-3  col-lg-3 category_yes_now_mobile mobile_padding">
       <!-- блок для вывода категорий и подкатегорий -->
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action mobile_button_category" style="background-color: #428bca;color: white">

                    <h3 class="panel-title">КАТЕГОРИИ</h3>
                    <img src="{% static 'img/close.png' %}" alt="" class="close_category">

            </button>
            {% for category in category_list %}
                    <button type="button" class="list-group-item list-group-item-action category_button" data-id="{{category.id}}">
                        <div class="row ">
                            <div class="col-md-12 button_category">
                                <h5 class="list-group-item-heading">{{ category.name|title }}</h5>
                                <img src="{% static 'img/arrow_category.png' %}"
                                     alt="" class="arrow_category" data-id="{{category.id}}">
                            </div>
                        </div>
                    </button>
                    {% for sub_category in category.subcategories.all %}

                     <!-- {% if subcategory.slug == active %}
                            attr-1="{{ active_tab }}"
                            {% endif %} -->
                        <a href="{{ sub_category.get_absolute_url }}" class="a_subcategory">
                            <button type="button" class="list-group-item list-group-item-action subcategory"
                                    data-id="{{category.id}}" data-tab="{{ active_tab }}">
                                    <div class="row ">
                                        <div class="col-md-9">
                                            {{ sub_category.name|title }}<br>
                                        </div>
                                    </div>
                            </button>
                        </a>
                    {% endfor %}
            {% endfor %}
        </div>
    </div>


    {% block main_body %}
    {% endblock main_body %}
    
{% endblock content %}
