{% load static %}

<footer class="footer dekstop_version">
    <div class="container-fluid">
        <div class="row footer_content">
            <div class="col-12 navigation">
                <ul class="ul_navigation">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'products:cart' %}">Корзина</a></li>
                    <li><a href="{% url 'products:info' %}">Оферта и Политика конфиденциальности</a></li>
                    <li><a href="{% url 'users:login' %}">Войти</a></li>
                    <li>
                    <ul class="social_ul_footer">
                            <li class="item_social"><a href=""><img src="{% static 'img/facebook_footer.png' %}" alt="" class="footer_social"></a></li>
                            <li class="item_social"><a href=""><img src="{% static 'img/youtube_footer.png' %}" alt="" class="footer_social"></a></li>
                            <li class="item_social"><a href=""><img src="{% static 'img/whats_footer.png' %}" alt="" class="footer_social"></a></li>
                            <li class="item_social"><a href=""><img src="{% static 'img/instagram_footer.png' %}" alt="" class="footer_social"></a></li>
                        </ul></li>
                    
                </ul>
            </div>
        <div class="row">
                <div class="col-xs-4 col-md-3 col-lg-3 container_logo_footer">
                    <div class="logo_footer"> </div> 
                    <h2 class="logo_title_footer">IOT COMPANY</h2>
                </div>
                <div class="col-xs-4 col-md-5 col-lg-5 form_footer">
                        <!-- <h5>Обратный звонок</h5> -->

                        <form method="" action="" class="login">
                            <p>
                                <input type="text" name="login" id="login" placeholder ="Укажите имя" style="color: black;font-size: 17px">
                            </p>
                            <p>
                                <input type="tel" name="tel" id="tel" placeholder="Номер телефона" style="color: black;font-size: 17px">
                            </p>
                            <p class="login-submit">
                                <button type="submit" class="login-button">Войти</button>
                            </p>
                        </form>
                        <div class="viza_card">
                            <img src="{% static 'img/viza.png' %}" alt="" class="viza">
                            <img src="{% static 'img/paypal.png' %}" alt="" class="paypall">
                        </div>
                        <p>поддерживаемые платежные системы</p>

                </div>
                <div class="col-xs-4 col-md-4 col-lg-4 work_grafik_footer">
                        <h4>График работы:</h4>
                        <p>В будние:    с 8:00 до 21:00 <br>Суббота:   с 9:00 до 20:00 <br>Воскресенье:  c 10:00 до 19:00</p>
                        <p>тел.: (095) 508 1131</p>
                        <p>Email: levtolstoy123123@gmail.com</p>
                </div>
        </div>
        </div>
    </div>
</footer>

<!-- футер для мобильной версии сайта -->
<footer class="footer mobile_version">
        <div class="container mobile_conteiner">
            <h5>Позвонить (095) 508 1131</h5>
      
            <div class="container_logo_footer mobile_logo_footer">
                    <div class="logo_footer"> </div> 
                    <h2 class="logo_title_footer">IOT COMPANY</h2>
            </div>
        </div>
    
</footer>