{% load static %}
<div class="container-fluid menu_cont">
  <div class="row top">
    <div class="col-3 col-sm-3 col-md-3  col-lg-2">
      <p class="contact">(095) 508 1131</p>
    </div>
    <div class="col-3 col-sm-5 col-md-5  col-lg-5 contact_href">
      <p class="hover_contact">О нас</p> 
      <a href="{% url 'products:info' %}" class="delivery">Оферта и Политика конфиденциальности</a>

    </div>
    <div class="col-0 col-sm-0 col-md-0  col-lg-2">

    </div>
      <div class="col-6 col-sm-4 col-md-4  col-lg-3 sign_in">
        {% if request.user.username %}
          <a href="{% url 'users:room' %}" class="login_in">
            <p class="login_out_in">
              {{ request.user.username }}
            </p>
          </a>
        {% else %}
          <a href="{% url 'users:room' %}" class="login_in">
            <p class="login_out_in">Вход</p>
          </a>
        {% endif %}
        {% if request.user.username %}
         <div class="logaut_div">
             <img src="{% static 'img/login.png' %}" alt="" class="logout_img">
             <a href="{% url 'users:logout' %}" class="logaut_a">
              Выйти
            </a>
          </div>
          {% else %}
          <div class="logaut_div" >
            <a href="{% url 'users:register' %}" class="registr">
             Регистрация
           </a>
           <img src="{% static 'img/registration.png' %}" alt="" class="logout_img registration_img">
         </div>
      {% endif %}
      </div>
     
    </div>

    <div class="row bottom">
      <div class="col-3 col-sm-3 col-md-2  col-lg-2">
        <a class="navMenu_href" href="{% url 'home' %}">

        </a>
      </div>
      <div class="col-7 col-sm-7 col-md-8 col-lg-8 searchDiv max_menu_searchDiv">
        <form action="" method="post" class="search">
          <input type="search" name="" placeholder="поиск" class="input" id="searchInput"/>
          <input type="submit" name="" value="НАЙТИ" class="submit" />
        </form>

      </div>
      <a class=""  href="{% url 'products:cart' %}">
        <div class="col-2 col-sm-2 col-md-2  col-lg-2">
            <img src="{% static 'img/korzina_header.png.png' %}" alt="" class="korzina_img">
            <!-- <div class="korzina_img_countProduct">
              <p>{{ item.amount }}</p>
            </div> -->
        </div>
      </a>
    </div>

</div>

<!-- меню для мобильной версии сайта -->
<div class="container-fluid menu_cont_mobile">
  <nav class="navbar navbar-expand-lg navbar-light bg-light minMenu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="searchDiv">
      <form action="" method="post" class="search">
        <input type="search" name="" placeholder="я ищу..." class="input" id="searchInput"/>
      </form>
    </div>
    <a class="mobile_menu_href"  href="{% url 'products:cart' %}">
          <img src="{% static 'img/korzina_mobileMenu.png' %}" alt="" class="korzina_img">
          <!-- <div class="korzina_img_countProduct">
            <p>{{ item.amount }}</p>
          </div> -->
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'products:info' %}">Оферта и Политика конфиденциальности</a>
        </li>
         <li class="nav-item">
          <a class="nav-link " href="{% url 'users:room' %}">Вход</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
    </div>
    
