{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<div class="errors">
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p></div>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="errors">
<p class="errornote">
    {{ error }}
</p></div>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<div class="errors"></div>
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
{% endblock %}
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    <div class="limiter">
        <div class="container-login100">
            <a href="/" class="home_registor_aus">На главную</a>
          <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form class="login100-form validate-form flex-sb flex-w">
              <span class="login100-form-title p-b-32">
                Авторизация
              </span>
              <span class="txt1 p-b-11">
                Логин
              </span>
              <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                  {{ form.username }}
                  <span class="focus-input100"></span>
                </div>
              
              <span class="txt1 p-b-11">
                Пароль
              </span>
          
              <div class="form-row">
                  {{ form.password }}
                </div>
              
              <div class="flex-sb-m w-full p-b-48">
                <div class="contact100-form-checkbox">
                  
                </div>
    
                <div>
                  <a href="#" class="txt3">
                    Забыли пароль?
                  </a>
                </div>
              </div>
          
              <div class="container-login100-form-btn">
                <input class="login100-form-btn" type="submit" value="{% trans 'Войти' %}">
                </input>
                <a href="{% url 'users:register' %}">
                <input class="login100-form-btn registration" type="submit" value="{% trans 'Регистрация' %}">
              </input></a>
              </div>

          
    
            </form>
          </div>
        </div>
      </div>

  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
  
  </div> 
</form>

</div>
{% endblock %}
