{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<div class="errors">
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p></div>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="errors">
<p class="errornote">
    {{ error }}
</p></div>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<div class="errors"></div>
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
{% endblock %}
<form action="{% url 'users:register' %}" method="post" id="login-form">{% csrf_token %}
    <div class="limiter">
        <div class="container-login100">
            <a href="/" class="home_registor_aus">На главную</a>
          <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55 flex_registr">
            <form class="login100-form validate-form flex-sb flex-w">
              <span class="login100-form-title p-b-32">
                Регистрация
              </span>
              <span class="txt1 p-b-11">
                Логин
              </span>
              {{ form.username }}
              {{ form.username.errors}}
              <span class="txt1 p-b-11">
                Телефон
              </span>
              {{ form.phone }}
              {{ forms.phone.errors }}
              <span class="txt1 p-b-11">
                Email
              </span>
              {{ form.email }}
              {{ forms.email.errors }}
              <span class="txt1 p-b-11">
                Установите аватар
              </span>
              {{ form.image }}
              <span class="txt1 p-b-11">
                Пароль
              </span>
              {{  form.password }}
              {{ form.password.errors}}
              <span class="txt1 p-b-11">
                Подтверждение пароля
              </span>
              <input type="password" class="password_confirmation" placeholder="Подтверждение пароля">
              <div class="modal_error"></div>
              <button type="submit" class="login100-form-btn btnRegistr">Регистрация</button>
            </form>
          </div>
        </div>
      </div>

  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
  
  </div> 
</form>

</div>
{% endblock %}
