{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myadmin</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/myadmin.css' %}" />
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div id="app">
      <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label for="order_progress">Order progress</label>
                <select id="order_progress" class="form-control" @change="onChangeOrderProgress($event)" v-model="progress">
                  <option value="all">All</option>
                  <option value="f">Wait</option>
                  <option value="t">Done</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="paid_status">Paid progress</label>
                <select id="paid_status" class="form-control" @change="onChangeOrderPaidStatus($event)" v-model="paid">
                  <option value="t">Paid</option>
                  <option value="f">Not Paid</option>
                </select>
            </div>
        </div>

        <br>

        <div class="row">
          <h1>Orders
          </h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">DATETIME</th>
                <th scope="col">PAIMENT_ID</th>
                <th scope="col">PAYMENT_TYPE</th>
                <th scope="col">PAID</th>
                <th scope="col">APPROVED</th>
                <th scope="col">TOTAL</th>
                <th scope="col">PROGRESS</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="myadmin-order-table-body">
              <tr v-for="order in orders">
                <th scope="row">[[ order.pk ]]</th>
                <td>[[ order.datetime ]]</td>
                <td>[[ order.payment_id ]]</td>
                <td>[[ order.payment_type ]]</td>
                <td>[[ order.paid ]]</td>
                <td>[[ order.approved ]]</td>
                <td>[[ order.total ]]</td>
                  <td>
                      <b>[[ order.progress ]]</b>
                  </td>
               <td>
                   <button data-toggle="modal"
                          data-target="#showDetail"
                          v-on:click="getOrderItems(order.pk, order.checkout)"
                          class="btn btn-info" >Detail</button>
                  <button
                          v-on:click="changeProgress(order.pk, order.progress)"
                          class="btn btn-warning">Change Status</button>
                  <button
                          v-on:click="approveOrder(order.pk)"
                          class="btn btn-success">Approve</button>
                   <button
                          v-on:click="dropOrder(order.pk)"
                          class="btn btn-danger">Drop</button>
                </td>
              </tr>
            </tbody>
        </table>
        </div>
        <div class="loader" v-if="loading===true" ></div>
        <ul class="pager">
            <div class="row">
                <div class="col-md-1">
                    <button
                        :disabled="!prev_page"
                        v-on:click="getNextPrevOrdersPage(prev_page)"
                        class="btn btn-primary">
                        Previous
                    </button>
                </div>
                <div class="col-md-1">
                    <button
                            :disabled="!next_page"
                            v-on:click="getNextPrevOrdersPage(next_page)"
                            class="btn btn-primary">
                        Next
                    </button>
                </div>
            </div>
        </ul>
      </div>


    <div class="modal fade" id="showDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLongTitle">Order Detail</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


            <div class="modal-body">
                <div class="row">
                    <h5>Checkout Detail
                    </h5>
                    <table v-if="checkout" class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Phone</th>
                            <th scope="col">FIO</th>
                            <th scope="col">Email</th>
                            <th scope="col">Comment</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>[[ checkout.pk ]]</td>
                                <td>[[ checkout.phone ]]</td>
                                <td>[[ checkout.fio ]]</td>
                                <td>[[ checkout.email ]]</td>
                                <td>[[ checkout.comment ]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                  <h1>Order Items
                  </h1>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Subcategory</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="oitem in order_items">
                        <th scope="row">[[ oitem.pk ]]</th>
                        <th>[[ oitem.code ]]</th>
                        <td>[[ oitem.name ]]</td>
                        <td>[[ oitem.subcategory ]]</td>
                        <td>[[ oitem.quantity ]]</td>
                        <td>[[ oitem.price ]]</td>
                        <td>[[ oitem.total ]]</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
    </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/myadmin_vue.js' %}"></script>
</body>
</html>