



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
.cont_1{padding: 0px}
@font-face {
  font-family: Raleway-Regular;
  src: url('../fonts/raleway/Raleway-Regular.ttf'); 
}

@font-face {
  font-family: Raleway-Medium;
  src: url('../fonts/raleway/Raleway-Medium.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	font-family: Raleway-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Raleway-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Raleway-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/


textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;
}

.txt2 {
  font-family: Raleway-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.4;
}

.txt3 {
  
  font-family: Raleway-Regular;
  font-size: 13px;
  color: #555555;
  line-height: 1.4;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.container-login100 {
  width: 100%;
  height: 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #ebebeb;
}
.home_registor_aus{position: absolute;left: 4%;top: 1%;text-decoration: none;font-size: 15px;
} 
.home_registor_aus::after{content: '';background: url(../img/home_aus.png);width: 30px;height: 30px;background-position: center;
  background-size: cover;display: block; margin-top: -29px;margin-left: 82px;opacity: .7;} 
  .home_registor_aus::after:hover{color: #57b846}
.wrap-login100 {

  width: 560px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.errors{
  z-index: 1000;
  position: absolute; 
  left: 41%;
  top: 9%;
  
}
.errorlist li{font-size: 13px;color: #800511;}
.errors p{font-size: 18px;color: #800511;}

/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  font-family: Raleway-Medium;
  font-size: 30px;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;

  width: 100%;
  display: block;
}



/*------------------------------------------------------------------
[ Input ]*/

#id_password {
  border: 1px solid #b5bdb8;
  border-radius: 2px;
  font-family: Raleway-Medium;
  color: #555555;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 55px;
  padding: 0 25px 0 25px;
}
/*------------------------------------------------------------------
[ Focus Input ]*/

#id_password:hover {
 
  border: 1px solid #57b846;
  border-radius: 3px;
}


/*---------------------------------------------*/
#id_username {
    
  border: 1px solid #b5bdb8;
  border-radius: 2px;
  font-family: Raleway-Medium;
  color: #555555;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 40px;
  padding: 0 25px 0 25px;
}

.inputCustom{ border: 1px solid #b5bdb8;
  border-radius: 3px;
  font-family: Raleway-Medium;
  color: #555555;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  padding: 0 25px 0 25px;}
/*------------------------------------------------------------------
[ Focus Input ]*/

#id_username:hover {
 
  border: 1px solid #57b846;
  border-radius: 3px;

}

/*---------------------------------------------*/

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.container-login100-form-btn a{text-decoration: none}

.login100-form-btn {
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 55px;
  background-color: #333333;
  border-radius: 27px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: #57b846;
}

.registration{                                              
  background-color: #57b846;position: relative;
}
.registration:hover{
  background-color: #333333;
}
.btnRegistr{width: 100px;height: 40px;display: block;margin-left: auto;margin-right: auto;margin-top: 15px}
                              
/*стиль для страницы регистрации*/
.flex_registr{display: flex;flex-direction: column}                                                    
.flex_registr input{width: 100%;height: 35px;border: 1px solid #b2bfac;border-radius: 4px;
padding-left: 16px}
.flex_registr input ::placeholder{font-size: 12px}
.flex_registr input[type="file"]{border: none}
.flex_registr .p-b-11{padding-top: 3px; font-size: 17px;letter-spacing: 1px}
.flex_registr #id_password {
  border-radius: 4px;
  font-family: Raleway-Medium;
  color: #555555;
  line-height: 1.2;
  font-size: 12px;
  display: block;
  background: transparent;
  height: 35px;
  padding: 0 5px 0 5px;
}
.flex_registr .registration{width: 150px;margin-left: auto;margin-right: auto;border-radius: 27px;
margin-top: 3%}

/*стиль для сообщения об ошибке при проверке пароля на странице регистрации*/
.modalRegistration{font-size: 19px;color: white;font-weight: 500;padding: 7px 5px 7px 5px;
background-color: black;width: 250px;text-align: center;margin-left: 15%;margin-top: 3px;border-radius: 6px}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate .btn-show-pass {
  visibility: hidden;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Raleway-Medium;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset; /* можно изменить на любой вариант цвета */
  -webkit-text-fill-color: #333;
}
.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}