html{min-height: 100vh;overflow-x:hidden; }
*,html,body{margin: 0;padding: 0;list-style: none; box-sizing: border-box;font-family: 'Aleo', serif;font-weight: 300;
}
body{background-color: #f4f4f4;position: relative;min-height: 100vh;}



/* стиль для основного контейнера*/
.cont{display: block;
    padding-left: 0px;padding-right: 0px;position: relative;
}
.cont_1{width: 100%;min-height: calc(100% - 58px);padding: 17px 17px 17px 17px;
}

/* стиль для header меню сайта*/
.menu_cont_mobile{display: none}
.menu_cont{background-color: #122538;}

.top .col-lg-2 p{color: white;font-size: 16px;padding: 8px 0px 8px 0px;}
.top .col-lg-3 p{color: white;font-size: 16px;padding: 8px 0px 8px 0px;}
.top .col-lg-3 a{color: white;font-size: 16px;text-decoration: none;}
.sign_in{padding-right: 0px;display: flex;}
.top .col-lg-3 a p{padding: 8px 0px 0px 0px;border-bottom: 1px dashed white;position: relative;}
.top .col-lg-3 a p::before{content: "";background: url(../img/header_user.png);width: 25px;height: 20px;background-position: center;
  background-size: cover;display: block;position: absolute;left: -27px;top: 10px}
.contact_href .hover_contact{color: white;font-size: 16px;padding: 8px 0px 8px 0px;}
.contact_href .hover_contact:hover { color: green;cursor: pointer}
.contact_href{display: flex}
.contact_href a {text-decoration: none;color: white;font-size: 16px;padding: 8px 0px 8px 0px;
  margin-left: 7%}
  .logout_img{width: 25px;height: 35px;padding-right: 3px;}
  .logaut_div {margin-top: 2%;padding-left: 55px}
  .registr{margin-top: 3px;}
  .registration_img{width: 32px;height: 32px;}
  .delivery:hover { color: green;cursor: pointer}


/* стили для всплывающего блока с о нас*/
.popup_contact{width: 50%;min-height: 80px;background-color: white;border-radius: 5px;text-align: left;
padding: 8px 10px 8px 10px;display: none;z-index: 7000;position: relative;
border: 1px solid #d3dcea;box-shadow: 3px 3px 5px #d3dcea;position: fixed;left: 25%;top: 10%}
.popup_title{width: 100%;text-align: center;padding-bottom: 9px}
.about_logo{width: 110px;height: 80px;background: url(../img/LogoIOT.png);
  background-size: contain;background-repeat: no-repeat;display: block;margin-left: auto;margin-right: auto;}
.popup_contact h3{font-size: 24px;color: #031026;}
.popup_contact p{color: #4d586b;font-size: 15px;line-height: 17px;border-bottom: 1px solid #becbe2;padding-bottom: 15px}
.close{position: absolute;right: 7px;top: 7px;width: 30px;height: 30px}
  /* стиль для второй строки хедера и поиск пло товарам*/
  .bottom{height: 64px;}
  .bottom .col-lg-2{ height: 64px}
  .navMenu_href{width: 75%;height: 80%;background: url(../img/LogoIOT.png);background-position: center;
  background-size: contain;background-repeat: no-repeat;display: block}
  .popup_footer{width: 100%;height: 80px;align-items: center;text-align: center}
  /* стиль для спрайта на странице контакт*/
.cont{background-color: white}
.spite{align-items: center;text-align: center;margin-top: 15px;}
.spite a{
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;   
  height: 59px;
  width: 59px;
  display: inline-block;
  margin-right: 15px;
    transition: all 0.2s ease-out;
}
.spite a.vk { background-position: left top; }
.spite a.twitter { background-position: -59px top; }
.spite a.google { background-position: -118px top; }
.spite a.rss { background-position: -177px top; }
.spite a:hover {
  background-position-y: bottom;
}

  



/* стиль для поиска в меню сайта*/
.search {
  /* устанавливаем необходимую ширину формы в зависимости от дизайна
  ** форма без проблем растягивается */
  width: 85%;
  margin-top: 16px; position: relative;height: 100%;
}

.search input {
  border: none;width: 84%;height: 100%;box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
  padding: 10px 37px 10px 15px;
}

.search .submit{width: 16%;position: absolute;
  top: 0;
  left: 84%;
 
  color: white;font-weight: bold;
  background-color: green;
  height: 100%;}
  .logo_contact_logo{margin-top: 15px;margin-left: 52%}

  .search_ul{display: flex;flex-direction: column;z-index: 500;position: absolute;padding-inline-start: 15px;}
   .search_ul a{text-decoration: none;width: 100%;position: relative}
.search_result_url {background-color: white;font-size: 15px; color: #646668;font-style: italic;padding: 7px 2px 7px 15px;border: 1px solid #c3cace;border-radius: 1px;
}
.search_result_url:hover{background-color: #d9dee0}
.open_more {display: none;background-color: #428bca;
  position: absolute;bottom: -25px;right: 0px;width: 97%;height: 25px;font-size: 12px;color: white;letter-spacing: 2px;
}
.open_more:hover{background-color: green}

.korzina_img{margin-top: 5%;margin-left: 35%;position: relative;}
.korzina_img_countProduct p{color: white;font-weight: 900;font-size: 15px;margin-top: 2px}
  /* стиль для  блока с категориями и подкатегориями товаров*/
  .list-group{overflow-y: auto;overflow-x:hidden;}
  .list-group-item{padding: 7px 15px 7px 15px}
  .close_category{display: none}
  .click_category_mobile{display: none}
  .category_button{background-color: #e8ebed}
  .category_button:hover{background-color: #206899}
  .subcategory{background-color: #e8ebed;display: none}
  .button_category{display: flex;text-align: left;position: relative}
   .active_click{background-color: #1b6191;color: white}
  .ative_category{background-color: #428bca}
  .ative_category .button_category h5{color: white}
  .arrow_category{width: 20px;height: 20px;opacity: .6;position: absolute;right: 5px}
.subcategory{padding: 13px 10px 13px 15px;text-align: left;margin-bottom: -6px;}
.subcategory .row .col-md-9{text-align: left}
.subcategory .row .col-md-9 a{text-decoration: none;color: #042063;position: relative;}
.subcategory .row .col-md-9 a::before{content: '';background: url(../img/arrow_right.png);width: 10px;height: 20px;background-position: center;
    background-size: cover;display: block; position: absolute;left: -10px;}

/* стиль для  карточек товаров с боку категорий */
.product_card{border: 1px solid #d1d2de}
.product_card:hover{box-shadow: 4px 6px 6px#e2deed;background-color: white;}
.text{text-align: start;height: 50px;overflow: hidden;
  text-overflow: ellipsis;}
.text a{text-decoration: none}
.text a h4{margin-top: 13px;color: #050f5e;font-size: 18px;font-weight: 700;
  text-overflow: ellipsis;}
.text{overflow-wrap: break-word;border-bottom: 1px solid #dfe3e6}
.img_item{width: 90%;height: 210px;margin-left: auto;margin-right: auto;margin-top: 8px;display: block}
.cod{display: flex;justify-content: space-between;margin-top: 1%}
.cod p{font-size: 13px;color: #808e96}
.cod a{text-decoration: none;font-size: 13px;position: relative;color: #808e96;margin-right: 6%}
.cod a::after{content: '';background: url(../img/arrow_detali.png);width: 16px;height: 9px;background-position: center;
  background-size: cover;display: block; position: absolute;top: 4px;left: 102%;opacity: .5;}
  .orders_zakaz{display: flex;margin-top: 3%;justify-content: space-around;width: 90%;
  margin-left: auto;margin-right: auto}
        .price{font-size: 18px;color: #011742;margin-left: 10px}
        .price span:nth-child(1){position: relative}
        .price span:nth-child(1)::before{content: "";background: url(../img/price_cennik.png);background-repeat: no-repeat;
          width: 28px;height: 28px;background-position: center;top: 8px;background-size: cover;display: block;
        left: -30px;top: 50%;position: absolute}
        .glyphicon glyphicon-usd{width: 14px;height: 18px}
        .count_product{display: flex;width: 40px;margin-top: 20px}
        .minus_product {width: 20px;height: 20px;border-radius: 50%;border: 1px solid #848587;align-items: center}
        .count_product p{font-size: 26px;padding: 0px 10px 0px 10px;margin-top: -8px}
        .plus_product {width: 20px;height: 20px;border-radius: 50%;border: 1px solid #848587;align-items: center}
        .minus_product img{width: 18px;height: 18px;padding-bottom: 5px}
        .plus_product img{width: 18px;height: 18px;padding-bottom: 5px}
        .button_orders{width: 160px;height: 33px;background-color: #428bca;color: white;border-radius: 8px;
        margin-left: -13px;font-size: 16px}
        
        .minus_product:hover{background-color: #dbd9e2}
        .plus_product:hover{background-color: #dbd9e2}
        .order_cont_button .button_orders{width: 94%;color: white;height: 37px;font-size: 17px;
        background-color: #ff671f;padding-bottom: 7px;border-radius: 0px;margin-left: auto;margin-right: auto}
        .bottom{height: 11px;} 

 .statusBar_products{width: 100%;}
    .statusBar_products_col{border-top: 1px solid #b8c4d8;border-bottom: 1px solid #b8c4d8;height: 39px;
    display: flex;justify-content: space-between}
    .span_price{font-size: 26px;color: #042459;}
    .description_products p{font-size: 14px;letter-spacing: 1px;color: #505153;margin-top: 17px;}
    .category_products_item{position: relative;border-bottom: 1px solid #dee1e5;}
    .detail{ display: flex;position: absolute;bottom: 10%}
    .detail a {text-decoration: none;font-size: 16px;position: relative;box-shadow: -3px 4px 3px#e2deed} 
    .detail a::after{content: '';background: url(../img/arrow_detali.png);width: 20px;height: 10px;background-position: center;
      background-size: cover;display: block; position: absolute;top: 6px;left: 103%;opacity: .5;}
      .detail a:nth-child(2)::after{content: "";background: url(../img/korzina.png);background-repeat: no-repeat;
        width: 30px;height: 30px;background-position: center;left: 106%;top: -7px;}


/* стиль блока footer*/
.dekstop_version{display: block}
.mobile_version{display: none}
footer{z-index: 300;background-image: url(../img/footer_img_red.jpg);background-repeat: no-repeat;
  background-position: center;width: 100%;background-size: cover;}
.ul_navigation{display: flex;}
.ul_navigation li{margin-left: 7%;margin-top: 1.5%}
.ul_navigation li a{text-decoration: none;font-size: 14px;font-weight: 500;color: #a8abad;text-transform: uppercase}
.ul_navigation li:nth-child(5){position: absolute;right: 47px;margin-top: 0.5%}
.ul_navigation li:hover a{color: #147896;}
.social_ul_footer{display: flex}
.footer_social{width: 35px;height: 35px;}
.container_logo_footer{text-align: center;padding-top: 1.5%}
.logo_footer{width: 115px;height: 80px;background: url(../img/LogoIOT.png);
  background-size: cover;background-repeat: no-repeat;display: block;margin-left: auto;margin-right: auto;}
.logo_title_footer{color: #147896;margin-top: 0.5%;padding-bottom: 1%}
.form_footer {text-align: center;padding-top: 50px}
.form_footer p{color: #a8abad;font-size: 13px;letter-spacing: 1px}
.form_footer h5{color: #a8abad;font-size: 13px;letter-spacing: 1px}
.viza_card{display: flex;width: 238px;margin-left: auto;margin-right: auto;}
.viza_card img{width: 175px;height: 40px}
.viza_card img:nth-child(2){width: 63px;height: 31px;margin-top: 6px}
.work_grafik_footer{text-align: left;padding-left: 10%}
.work_grafik_footer p{color: #a8abad;font-size: 15px;}
.work_grafik_footer h4{letter-spacing: 1.5px;color: #147896}
/* стиль для формы заказа блока footer*/
.login {display: none;
  margin-left: auto;margin-right: auto;
  position: relative;
  width: 250px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.login p {
  margin: 0 0 10px;
}

.login input{
  padding: 0 10px;
  width: 200px;
  height: 35px;
  color: #bbb;
  background: #deeaec;
  border: 0;
  border-radius: 5px;

}

.login-submit {
  position: absolute;
  top: 20px;
  right: 1px;
  width: 48px;
  height: 48px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}
.login-submit:before, .login-submit:after {
  content: '';
  z-index: 1;
  position: absolute;
}
.login-submit:before {
  top: 28px;
  left: -4px;
  width: 4px;
  height: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}
.login-submit:after {
  top: -4px;
  bottom: -4px;
  right: -4px;
  width: 36px;
}

.login-button {
  position: relative;
  z-index: 2;
  width: 48px;
  height: 48px;
  padding: 0 0 48px;
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);}

.login-button:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #00a2d3;
  border-radius: 24px;
  background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
  background-image: linear-gradient(to bottom, #00a2d3, #0d7796);
  -webkit-box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
}

.login-button:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 19px;
  background: url("../img/arrow.png") 0 0 no-repeat;
}


/* стили для кнопки чат*/

 
 
 
 .pulse::before,
 .pulse::after {
  content: '';
  position: absolute;
  border: 1px solid #0baa44;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 1.8s linear infinite;
  opacity: 0;
 }
 .pulse::after {
  animation-delay: .5s;
 }
 
 @keyframes pulse {
  0% {
   transform: scale(0.5);
   opacity: 0;
  }
  50% {
   opacity: 1;
  }
  100% {
   transform: scale(1.2);
   opacity: 0;
  }
 }

 /* стили для кнопки месенджер*/
 .facebook {
  display: block; 
  position: fixed;
  bottom: 96px;right: 30px;    
  width: 60px;
  height: 60px;
  background: url(../img/masangar.png);background-position: center;
  background-size: cover;display: block;background-repeat: no-repeat;
  border-radius: 50%;
  
  transition: .5s;
 z-index: 5000;
 }
 
 .textonline {
   padding-left: 16px;
  position: absolute;
  opacity: 1;
  text-transform: uppercase;
  font-weight: 700;
  top: 23px;
  font-size: 14px;
 
 }
 
 
 
 .facebook::before,
 .facebook::after {
  content: '';
  position: absolute;
  border: 1px solid #428bca;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 1.8s linear infinite;
  opacity: 0;
 }
 .facebook::after {
  animation-delay: .5s;
 }
 
 @keyframes facebook {
  0% {
   transform: scale(0.5);
   opacity: 0;
  }
  50% {
   opacity: 1;
  }
  100% {
   transform: scale(1.2);
   opacity: 0;
  }
 }


 /* стиль для страницы детально о продукте*/
.mobile_show_comment{display: block}
 .flex_title{display: flex;justify-content: space-between;padding-left: 40px;padding-right: 40px}
 .title_product{color: #130c60;font-size: 23px;letter-spacing: 2px;font-weight: 600;}
 /* стиль для кнопки добавить в корзину*/
 .korzina_detail{height: 20px;}



.detail_product_block{color: #85878c;font-size: 18px;letter-spacing: 1px;font-weight: 100;}
.comment_otziv{text-align: center;margin-top: 4%;}
.error_otsiv{color: red;font-size: 17px}
.comment_otziv h4{color: #130c60;font-size: 26px;font-weight: 600;letter-spacing: 2px;text-shadow: 0 11px 16px #14a03c;}

/* стил, для вывода модального окна после добавления в карзину товара*/
.modal_cart{background-color: #1b1d21;text-align: center;max-width: 200px;border-radius: 4px;z-index: 400;
position: absolute;top: 50px;left: 76%;display: none}
.modal_cart h4{color: white;font-size: 14px;font-weight: 800;padding-top: 8px}
.modal_cart p{color: white;font-size: 12px;font-weight: 500;padding: 0 7px 11px 7px;}


/* стил, для вывода картинок на странице подробно*/
.galery{width: 100%;height: 550px;}
.img_product_detail{width: 100%;height: 100px;}

.active_big{width: 100%;height: 450px;margin-left: auto;margin-right: auto;margin-top: 2%;border: 1px solid blue;
border-radius: 7px;}
.img_bottom{margin-top: 4px;display: grid;  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; grid-gap: 1vw;}
.img_product_detail:hover{animation:hoverImg .5s;border-radius: 50%;opacity: .7;transform:scale(1.3);
  }


@keyframes hoverImg{
  0%{
    border-radius: 20%;
  }
  50%{
    border-radius: 35%;opacity: .8;transform:scale(1.12);
  }
  100%{
    border-radius: 50%;opacity: .7;transform:scale(1.3); 
  }
}

/* стили для отзывов*/

.comment_otziv{margin-top: 55px;}
.otziv_user{display: none;width: 95%;height: auto;}
.foto_user{width: 60px;height: 60px;border-radius: 50%;background-image: url(../img/otziv_user.png);
  background-repeat: no-repeat;background-size: cover;border: 1px solid #03204f;margin-top: 20px}
.text_otziv{text-align: left;padding: 0 0 0 6px;width: 80%}
.name_user{padding: 0;color: #03204f}
.otziv_user_text{margin: 0;font-style: italic;color: #6d6263;font-size: 15px}
.riska_otziv{width: 50%;height: 2px;background-color: #19058c;margin-top: 7px}
.text_otziv .data_otziv{color :#0642a3;margin-top: 9px;padding: 0;font-size: 18px}
.show_user{background-color: rgb(35, 90, 178);color:white;width: 200px;
  height: 30px;border-radius: 5px;display: none;margin-left: 20%}

/* стили для блока добавить отзыв*/
.form_add_otziV{padding-bottom: 40px;margin-top: 12px}
.text_navigation{text-align: center;margin-top: 25px;color: #7d7984; }
.add_otziv_img{display: flex;margin-top: 65px;width: 180px;
  margin-right: auto;margin-left: auto;}
.add_otziv_img p{margin-top: 20px;font-size: 20px;color: #235ab2}
.ostav_otziv{display: block;
    width: 60px;height: 60px;}
.ostavit_otziv{margin-top: 45px;}
label{color: #a89295}
.subm_otziv{text-decoration: none;   
  outline: none;
  display: block;
  color: white;width: 200px;
  margin-left: auto;margin-right: auto ;   
  padding: 10px 30px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #e8ccd2 0%, #c46d6d 51%, #e8ccd2 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;}
.subm_otziv:hover {background-position: right center;} 



/* стиль для пагинации на странице subcategory_detail.html*/
.center-align{margin-left: 40%}


/* стиль для страницы корзина cart.html*/
.cart_cont{padding-bottom: 20px;}
.artikul_cart{background-color: #428bca;height: 30px;color: white;font-size: 19px;}
.artikul_products{padding: 0px 12px 10px 12px;border: 1px solid #dadce0;}
.flex_products{display: flex;}
.text_count{text-align: center}
.title_products{margin-top: 4%;padding-right: 9%;padding-top: 50%}
.description_product p{font-size: 17px;color: #7f8082;margin-top: 0px}
.description_product h3{font-size: 17px}
.description_product h3 a{text-decoration: none}
.col_price .price{font-size: 20px;color: #101b30;margin-top: 50px;}
 .delete_product{width: 35px; height: 45px}
 .cart_count_product{width: 100px;height: 30px;
margin-top: 50px;margin-left: auto;margin-right: auto}
.cart_minus_product{width: 30px;height: 100%;border-radius: 0;padding: 6px 6px 6px 6px;border: 1px solid #1c51a6}
.cart_count_product_p{width: 50px;border: 1px solid #101b30;text-align: center}
.cart_count_product_p p{font-size: 25px;margin-top: -2px}
.cart_plus_product{width: 30px;height: 100%;border-radius: 0;padding: 6px 6px 6px 6px;border: 1px solid #1c51a6}
.musor_img{width: 25px;height: 30px;margin: 40px 30px 0px 0px}
.col_price{padding-left: 3%;display: block}
.col_price_mobile{display: none}
.total_sum{display: flex;justify-content: space-between;padding: 15px 12px 12px 0px;}
.flex_total_sum{display: flex}
.total_sum p{color: #101b30;font-size: 18px;font-weight: 700;padding-right: 8px;margin-top: 1%}
.btn-primary{font-size: 18px;margin-top: 0.5%}
/* стиль для страницы корзина когда нет выбранных позицый cart.html*/
.conteiner_korzina_null{height: 300px;text-align: center;margin-top: 6%;display: none;align-items: center}
.conteiner_korzina_null h2{font-size: 54px;font-weight: 600;letter-spacing: 3px;
color: #b9bdc4;}
.conteiner_korzina_null img{width: 200px;height: 200px;border-radius: 20px;padding: 20px;
border: 2px solid #c8cfdb;opacity: .5;}




/* стиль для страницы оформления заказа checkout.html*/
.border_order{width: 100%;background-color: #9fa2a6;color: white;text-align: center;
padding: 2px 0px 4px 0px}
.border_order h3{font-weight: bolder;letter-spacing: 2px;font-size: 26px;}
.checkout_form{width: 600px;margin-left: auto;margin-right: auto;padding: 20px 20px 50px 30px;background-color: white;
border-radius: 7px;margin-top: 4%;}
.fieldWrapper{display: flex;justify-content: space-between;text-align: start;padding-bottom: 1%}
.fieldWrapper input{width: 65%;border: 1px solid #c1cad9;border-radius: 3px;height: 40px;font-size: 18px;
padding-left: 12px}
.fieldWrapper label{font-size: 22px;color: #59616e}
.fieldWrapper textarea{resize: none;width: 65%;border: 1px solid #c1cad9;border-radius: 3px;height: 120px;}
.fieldWrapper select{width: 40%;height: 40px;border: 1px solid #c1cad9;border-radius: 3px;}
.fieldWrapper select option{font-size: 20px;text-align: center}
.submit_checkout{width: 100%;height: 40px;background-color: #9fa2a6;
  font-weight: bolder;letter-spacing: 3px;font-size: 22px;color: white;border-radius: 3px;
margin-top: 9%}
.submit_checkout:hover{background-color: #25a827}
#id_phone{font-size: 20px;}
/* плавное изменение прозрачности  placeholder-а при фокусе */
textarea{padding: 5px 7px 5px 9px}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

::-webkit-input-placeholder { color: #9fa2a6;font-size: 19px; }
::-moz-placeholder          { color: #9fa2a6;font-size: 19px; } /* Firefox 19+ */
:-moz-placeholder           { color: #9fa2a6;font-size: 19px; } /* Firefox 18- */
:-ms-input-placeholder      { color: #9fa2a6;font-size: 19px; }






.add_modal{position: fixed;width: 150px;height: 30px;left: 70px;bottom: 245px}

/* стили для страницы liqpay, при оплате товара */
#liqpay_checkout{margin-top: 7%}
#aft_payment_info{padding: 5% 8% 5% 8%}
#aft_payment_info h3{font-size: 19px;color: #2b4e87;}
#aft_payment_info a{display: none}
.liqPay_home {text-decoration: none;font-size: 18px;color: #03a333;position: absolute;top: 6%;left: 46.5%;}
.liqPay_home::before{content: '';background: url(../img/house.png);width: 40px;height: 40px;background-position: center;
    background-size: cover;display: block; margin-top: -38px;margin-left: 30px;opacity: .7;}


 /* стили для страницы доставка и оплаты, оферта */
.delivery_cont{text-align: center;}
.delivery_cont h2{font-size: 24px;text-transform: uppercase;color: #021e38;letter-spacing: 2px}
.circle {
  float: left;
  height: 200px;
  width: 200px;
  shape-outside: circle();content: '';background: url(../img/new_post.png);background-position: center;
  background-size: cover;border-radius: 50%;margin-top: 1.5%;
}
.delivery_description{font-size: 14px;color: #666d73;letter-spacing: 1px;margin-top: 2%}
.liqpay_privat{width: 100%;height: 120px;content: '';background: url(../img/liqpay_privat.jpeg);
  background-position: center;
  background-size: contain;background-repeat: no-repeat}
.description_oferta h3{color: #0d2438}
  .bottom_text{padding-bottom: 35px}




 /* МОБИЛЬНАЯ ВЕРСИЯ И МЕДИА-ЗАПРОСЫ */
  @media  screen and (max-width: 500px){
  /* медиа запросы header , мобильная версия.*/
  .menu_cont{display: none}
  .menu_cont_mobile{display: block;padding-left: 0px;padding-right: 0px;}
  .navbar{min-height: 40px;margin-bottom: 5px;background-color: #029c0e;border: none;}
  .navbar-toggler{width: 30px;height: 30px;background: url(../img/min_menu_icon.png);background-position: center;
  background-size: cover;border: none;margin-top: 10px;margin-left: 15px}
  #navbarTogglerDemo02{background-color: whitesmoke;border: none;}

  /* стиль для поиска в меню сайта, мобильная версия */
.searchDiv{position: absolute;top: 8px;margin-left: 60px;width: 75%;height: 30px;} 
.search {
  /* устанавливаем необходимую ширину формы в зависимости от дизайна
  ** форма без проблем растягивается */
  width: 100%;
 position: relative;height: 100%;margin-top: 0px;
}
  .search_ul{display: flex;flex-direction: column;z-index: 500;position: absolute;padding-inline-start: 0px;}
   .search_ul a{text-decoration: none;width: 100%;position: relative}
.search_result_url {background-color: white;font-size: 15px; color: #646668;font-style: italic;padding: 7px 2px 7px 15px;border: 1px solid #c3cace;border-radius: 1px;
}
.open_more {
  bottom: -25px;right: 0px;width: 100%;height: 23px;font-size: 11px;
}
.mobile_menu_href{position: absolute;right: 15px;}
.korzina_img{margin-top: 6px;margin-left: 0%;width: 35px;height: 35px;}
.nav-item{text-align: center}
.nav-link{text-decoration: none;color: #908f9c}

/* стиль мобильной версии для  блока с категориями и подкатегориями товаров*/
.mobile_padding{padding-left: 0px;padding-right: 7px;position: absolute;
left: -100%;z-index: 400;}
.click_category_mobile{padding: 3px 6px 3px 6px;font-size: 11px;color: white;background-color: #428bca;
border-radius: 25px;position: absolute;left: -8px;top: 50px;display: block}
.mobile_button_category{display: flex;justify-content: space-between;}
.mobile_new_popular_product{margin-top: 30px}
.close_category{width: 16px;height: 16px;display: block}
.list-group-item{padding: 4px 10px 4px 10px}
.subcategory{padding: 9px 7px 9px 7px;text-align: left;margin-bottom: -6px;}


/* стиль мобильной версии для  карточек товаров*/
.in_stok_p{font-size: 12px}
.text{height: 28px;}
.text a h4{margin-top: 8px;font-size: 14px;}
.img_item{width: 73%;height: 150px;margin-top: 5px;}
.cod p{font-size: 12px;}
.cod a{font-size: 12px;position: relative;margin-right: 4%}
.cod a::after{width: 14px;height: 7px;
 top: 5px;left: 102%;}
  .orders_zakaz{margin-top: 1.5%;justify-content: space-around;width: 77%;}
        .price{font-size: 14px;margin-left: 2%}
        .price span:nth-child(1)::before{width: 20px;height: 20px;left: -22px;top: 40%;}
        .glyphicon glyphicon-usd{width: 14px;height: 18px}
        .count_product{width: 30px;margin-top: 1.5%}
        .minus_product {width: 16px;height: 16px;}
        .count_product p{font-size: 22px;padding: 0px 7px 0px 7px;margin-top: -8px}
        .plus_product {width: 16px;height: 16px;}
        .minus_product img{width: 14px;height: 14px;}
        .plus_product img{width: 14px;height: 14px;}
        .button_orders{width: 77%;height: 28px;background-color: #428bca;color: white;border-radius: 8px;
        margin-left: -13px;font-size: 16px}
        .facebook{display: none}
        
        .order_cont_button .button_orders{height: 30px;font-size: 14px;
       padding-bottom: 4px;border-radius: 0px;}                          
        .bottom{height: 11px;}                              


/* стиль мобильной версии для  футера */
.dekstop_version{display: none}
.mobile_version{display: block;position: absolute;bottom: 0;}
.mobile_conteiner{text-align: center;}
.mobile_conteiner h5{color: white;margin-top: 1%}
.flex_footer{display: flex;justify-content: space-around;}  
.container_logo_footer{padding-top: 1%}
.logo_footer{width: 40px;height: 35px;background: url(../img/LogoIOT.png);
  background-size: cover;background-repeat: no-repeat;display: block;margin-left: auto;margin-right: auto;}
.logo_title_footer{color: #147896;margin-top: 0.5%;padding-bottom: 1%;font-size: 13px}      
.viza_card{display: flex;width: 70%;margin-left: auto;margin-right: auto;padding-top: 3%;}
.viza_card img{width: 45%;height: 30px}
.viza_card img:nth-child(2){width: 53px;height: 30px;}





/* стиль для мобильной версии страницы детально о продукте*/
.mobile_show_comment{display: none}
.flex_title{padding-left: 17px;padding-right: 10px}
.title_product{color: #130c60;font-size: 17px;letter-spacing: 1px;font-weight: 600;}
/* стиль для кнопки добавить в корзину*/
.korzina_detail{height: 20px;}
.detail_product_block{color: #85878c;font-size: 18px;letter-spacing: 1px;font-weight: 100;
padding-bottom: 14px}



/* стил, для вывода картинок на странице подробно*/
.galery{width: 85%;height: 270px;margin-left: auto;margin-right: auto}
.img_product_detail{width: 80%;height: 60px;}

.active_big{height: 180px;margin-top: 1.5%;}
.statusBar_products{width: 100%;}
    .statusBar_products_col{height: 24px;}
    .span_price{font-size: 16px;}
    .description_products p{font-size: 12px;letter-spacing: 0px;margin-top: 14px;}
    .category_products_item{position: relative;border-bottom: 1px solid #dee1e5;}
    .button_orders{width: 95px;height: 20px;font-size: 12px;border-radius: 0px;}
    .detail_product_block{font-size: 12px;}


/* стиль для мобильной версии страницы корзина*/
.artikul_cart_mobile{display: none}
.cart_cont{padding-bottom: 10px;}
.mobile_flex{display: flex;}
.mobile_musor{padding-left: 5px;padding-right: 5px}
.musor_img{width: 15px;height: 20px;margin: 32px 10px 0px 0px}
.mobile_img_products{padding-left: 3px;padding-right: 3px}
.title_products{margin-top: 1%;padding-right: 2%;padding-top: 20%}
.mobile_description{padding-left: 2px;padding-right: 2px}
.description_product h3{font-size: 11px;margin-top: 11px}
.description_product p{font-size: 10px;margin-top: -4px;color: #383736}
.col_price{display: none}
.col_price_mobile{display: block;padding-left: 2px;padding-right: 2px}
.col_price_mobile .price{font-size: 12px;color: #101b30;margin-top: 11px;}
.cart_count_product{width: 80px;margin-top: 10px;}
.cart_minus_product{width: 30px;height: 100%;border-radius: 0;padding: 6px 6px 6px 6px;border: 1px solid #1c51a6}
.cart_count_product_p{width: 50px;border: 1px solid #101b30;text-align: center}
.cart_count_product_p p{font-size: 25px;margin-top: -2px}
.cart_plus_product{width: 30px;height: 100%;border-radius: 0;padding: 6px 6px 6px 6px;border: 1px solid #1c51a6}
#clear_cart{margin-top: 25px;width: 100%;background-color: blue}
.total_sum{display: flex;flex-direction: column-reverse;padding: 15px 12px 12px 0px;}
.total_sum button{background-color: #ff671f;margin-top: 2px}
.flex_total_sum{display: flex;justify-content: space-around}
.total_sum p{color: #101b30;font-size: 16px;font-weight: 700;padding-right: 8px;margin-top: 1%}
.btn-primary{font-size: 12px;padding: 3px 8px 3px 8px;}
/* стиль для страницы корзина когда нет выбранных позицый cart.html*/
.conteiner_korzina_null{height: 300px;text-align: center;margin-top: 6%;display: none;align-items: center}
.conteiner_korzina_null h2{font-size: 20px;font-weight: 400;}
.conteiner_korzina_null img{width: 200px;height: 200px;padding: 20px;
  opacity: .4;margin-top: 10%;border: none}






 
 





 }