/* стиль для основного контейнера*/
.cont{
    background-image: url();background-position: center;background-size: contain;background-repeat: repeat;
    padding-left: 0px;padding-right: 0px;
}
.cont_1{width: 100%;height: 100%;padding: 25px 40px 25px 40px}

/* стиль для header меню сайта*/
.menu_cont{padding-right: 0;padding-left: 0}
.social_menu{width: 100%;height: 50px;border-bottom: 1px solid #8c95a3;justify-content: flex-end;display: flex;
background: -webkit-linear-gradient(left, #0c2347, #0f397a, #325ea3);margin-left: 0px;margin-right: 0px}
.social{display: flex;list-style: none;}
.social_item{width: 70px;align-items: center;padding-top: 10px}
.social_img{width: 30px;height: 30px;margin-left: auto;margin-right: auto}
.social_img:hover{opacity: .5}

.logo_contact{width: 100%;height: 170px;display: flex;justify-content: space-around;padding-top: 30px;
background-color: white}
.logo_contact_logo{width: 32%}
.logo_contact_grafik{width: 30%;text-align: right;}
.logo_contact_logo a{text-decoration: none;margin-right: auto;margin-left: auto;width: 90px;
display: block}
.logo_contact_logo a img{width: 90px;height: 90px;}
.logo_contact_contact{width: 30%;padding-left: 9%}
.contact:hover{transform: scale(1.25)}
.contact{font-size: 18px;text-transform: uppercase;color: #37404f;position: relative;margin-right: 15%}
.contact::before{content: "";background: url(../img/kyivstar.png);width: 25px;height: 25px;background-position: center;
background-size: cover;display: block;left: -25px;position: absolute;}

.mtc::before{background: url(../img/mtc.jpeg);background-position: center;background-size: cover;}
.life::before{background: url(../img/life.jpeg);background-position: center;background-size: cover;}
.logo_contact_logo a h2{text-transform: uppercase;font-size: 35px;margin-top: -5px;}
.logo_contact_grafik p:nth-child(2){color: #3d6dbf;font-size: 12px}
.logo_contact_grafik p{font-size: 14px;margin-left: 5%}

/* стиль для  меню сайта*/
.navMenu{background: -webkit-linear-gradient(right, #0c2347, #0f397a, #325ea3);height: 60px}
.navMenu .col-2 {text-align: center;padding-top: 20px;border-left: 1px solid #182131;height: 100%}
.col-2  a{text-decoration: none;font-weight: bold;}
.navMenu_href {text-decoration: none;font-size: 15px;text-transform: uppercase;list-style: none;color: #20252e}
.home:hover{background-color: #150453;}
.cart:hover{background-color: #150453;}
.orders:hover{background-color: #150453;}
.login:hover{background-color: #150453;}
.logout:hover{background-color: #325ea3;}
.home:hover a{color: white;transform: scale(1.2)}
.cart:hover a{color: white;transform: scale(1.2)}
.orders:hover a{color: white;transform: scale(1.2)}
.login:hover a{color: white;transform: scale(1.2)}
.logout a{color: #eaedf2}
.logout:hover a{color: black};}



/* стиль для блока контента(товаров,категорий)*/
   /* стиль для  меню категорий*/
   


   /* стиль для  меню продуктов*/
   .pr_img h4{font-size: 19px;letter-spacing: 2px;color: #103ba5;padding-bottom: 10px}