{% load thumbnail %}

<!-- Button trigger modal -->
<div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal{{order.pk}}">
        Show carts
      </div>

<!-- Modal -->
<div class="modal fade" id="myModal{{order.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Order #{{ order.pk }} detail</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">CART INFORMATION</h3>
            </div>
            <div class="panel-body">
                {% for item in cart_list %}
                    <div class="row cart-item">
                        <div class="col-md-2">
                            <a href="{{ item.product.get_absolute_url }}">
                                    {% thumbnail item.product.image "110x60" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="{{ item.product.get_absolute_url }}">
                                {{ item.product.name|title }}
                            </a>
                        </div>
                        <div class="col-md-2">
                            {{ item.product.price }}
                            <span class="glyphicon glyphicon-usd"></span>
                        </div>
                        <div class="col-md-2">
                            {{ item.amount }}
                        </div>
                        <div class="col-md-2">
                            {{ item.total }}
                            <span class="glyphicon glyphicon-usd"></span>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-offset-8">
                        Total {{ order.total }}
                        <span class="glyphicon glyphicon-usd"></span>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


